* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background: radial-gradient(circle at left, #300060, #110101);
  font-family: "Jockey One", sans-serif;
  color: thistle;

  display: flex;
  justify-content: center; /* horizontal center */
  align-items: center; /* vertical center */
}

.content {
  width: 90%;
  max-width: 400px;
  text-align: center;

  display: flex;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: none;
  outline: none;
}

button {
  padding: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
